<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.SystemHealth_Android"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Holo.Light">
        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PrintActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".MyActivity">
            <meta-data
                  android:name="android.support.PARENT_ACTIVITY"
                  android:value=".MyActivity"
                    />
         </activity>
        <activity android:name=".CTDatePickerActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".MyActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MyActivity"
                    />
        </activity>
        <activity android:name=".CTRequestListActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".CTDatePickerActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ContactDatePickActivity"
                    />
        </activity>
        <activity android:name=".CTSettingsActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".CTRequestListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ContactTrackingActivity"
                    />
        </activity>
    </application>
</manifest>
