<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.SystemHealth_Android"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Holo.Light">
        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".setaside.PrintActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".MyActivity">
            <meta-data
                  android:name="android.support.PARENT_ACTIVITY"
                  android:value=".MyActivity"
                    />
         </activity>
        <activity android:name=".DatePickerActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".MyActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MyActivity"
                    />
        </activity>
        <activity android:name=".TrackingActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".DatePickerActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ContactDatePickActivity"
                    />
        </activity>
        <activity android:name=".ContactListActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".TrackingActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".CTRequestListActivity"
                    />
        </activity>
        <activity android:name=".RequestSettings"
                  android:label="@string/app_name"
                  android:parentActivityName=".TrackingActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ContactTrackingActivity"
                    />
        </activity>
        <activity android:name=".ContactSettings"
                    android:label="@string/app_name"
                    android:parentActivityName=".ContactListActivity">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ContactTrackingActivity"
                />
    </activity>
    </application>
</manifest>
